@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';


body{
    font-family: 'Lato',sans-serif;
    -webkit-font-smoothing:antialised;
    color:$dark;
  
}

section.hero{
    background: $secondary;
}
.size{
    background-color: $secondary;
}
.add-to-cart{
    border: 2px solid #440a67;
    color: #440a67;
    transition: $smooth;
    &:hover{
        background-color: gold;
        color: #440a67;
        border-color: gold;
    }
    &:focus{
        outline: none;
    }
}
.btn-primary{
    background-color:#440a67 ;
}
.btn-primary:hover{
    color:#440a67;
    background-color: gold;
    border-color: gold;
    transition: $smooth;
}
section.cart{
    background-color: $secondary;
    .amount{
        color: #440a67;
    }
}
.noty_theme__mint{
    border-radius: 50px!important;
    padding-left: 8px!important;
}
a.link{
    color:red;
}
section.status{
    background: $secondary;
    min-height: calc(100vh-86px);
}
.status-box{
    padding: 60px 0 0;
}
.status-box ul{
    margin-left: 84px;
}
.status-box ul li span{
    position: relative;
    padding-left: 20px;
}
.status-box ul li span:after{
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    background-color: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-5px);
    box-shadow: 0 0 1px 10px $secondary;
}
.status-box ul li span:before{
    
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
}
.status-box ul li:nth-child(1) span:before{
    content: '\f46c';
}
.status-box ul li:nth-child(2) span:before{
    content: '\f560';
}
.status-box ul li:nth-child(3) span:before{
    content: '\f818';
}
.status-box ul li:nth-child(4) span:before{
    content: '\f0d1';
}
.status-box ul li:nth-child(5) span:before{
    content: '\f582';
}
.status-box ul li{
    position: relative;
}
.status-box ul li:before{
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: $dark;
    margin-top: 10px;
}
.status-box ul li:nth-child(5) span:after{
    box-shadow: 0 20px 1px 20px $secondary;
}

    


