<section class="status">
    <div class="container">
        <div class="w-2/3 mx-auto status-box">
        <div class="flex items-center  justify-between mb-12">
            <h1 class="text-xl font-bold">Track deDelivery Status</h1>
            <h6 class="bg-white py-1 rounded-full px-4 text-green-600 text-xs"><%=order._id%></h6>
        </div>
        <ul>
            <li class="status-line text-xl pb-16"><span>Order Placed</span></li>
            <li class="status-line text-xl pb-16"><span>Order Confirmation</span></li>
            <li class="status-line text-xl pb-16"><span>Order Preparation</span></li>
            <li class="status-line text-xl pb-16"><span>Out of delivery</span></li>
            <li class="status-line text-xl "><span>Completion</span></li>
        </ul>
        </div>
    </div>
</section>